html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
} 
  

body {
    background: linear-gradient(300deg, #94e1fa, #7165a7, #73d6ab);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
.search{
    width: clamp(250px, 90vw, 900px);
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
input{
    border-radius: 25px;
    width: 100%;
    height: 45px;
    border-style: none;
    font-size: 1.8em;
    text-align: center;
    
}

button{
    border-radius: 25px;
    width: 15%;
    height: 45px;
    border-style: none;
    font-size: 1.4em;
    background-color: rgb(64, 236, 98);
}

button:hover{
    box-shadow: 1px 1px 2px rgb(18, 23, 173), 0 0 25px blue, 0 0 5px darkblue;
}

.container{
    background-color: rgba(255, 255, 255, 0.8);
    height: 50%;
    width: clamp(300px, 90vw, 900px);
    margin-top: 15px;
    border-radius: 25px;
}

.namesec{
    display: grid;
    justify-content: start;
}

.degsec{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
}

.deg{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
}

.mainsec{
    display: grid;
    grid-template-columns: auto auto;
    border-left-style: solid;
    border-width: medium;
    border-color: rgb(25, 31, 139, 0.3);
}